<div class="bookmarks">

{% for bookmark in bookmarks %}
    <div class="bookmark">
        <form action="{{ url_for('del_bookmark', bookmark_id=bookmark.bookmark_id) }}" method="get">
        <p><img class="thumbnail" src="{{ bookmark.thumb_file_path }}" align="middle" style="width:64px;height:64p"/><!--
         -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a name="url" href="{{ bookmark.url }}"></a><!--
         -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ bookmark.name }}<!--
         -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ bookmark.post_date|datetimeformat}}<!--
         -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="delete" value="Delete">
        </p>
        </form>
    </div>

{% endfor %}

</div>