<!DOCTYPE html>
<html lang="en">
<title>{% block title%}Welcome{% endblock %} | MyQueue</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="page">
    <h1> MiniMarks</h1>
    <div class="navigation">
    {% if g.user %}
        <a href="{{ url_for('homepage') }}">My Bookmarks</a>
        <a href="{{ url_for('public_bookmarks') }}"> Public Bookmarks</a>
        <a href="{{ url_for('logout') }}"> Sign Out [{{ g.user.username }}]</a>
    {% else %}
        <a href="{{ url_for('public_bookmarks') }}"> Public Bookmarks</a>
        <a href="{{ url_for('register') }}"> Sign Up </a>
        <a href="{{ url_for('login') }}"> Sign In </a>
    {% endif %}
    </div>
    {% with flashes = get_flashed_messages() %}
        {% if flashes %}
            <ul class="flashes">
            {% for message in flashes %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="body">
    {% block body %}{% endblock %}
    </div>
    <hr>
    <div class="footer">
    MyQueue &mdash; A Flask Application
    </div>
</div>
</html>
