{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content%}

    {% if error %}
        <div class="error"><strong>Error:</strong>{{ error }}</div>
    {% endif %}

    <form action="" method="POST">
    <fieldset>
    <legend>Sign In</legend>
        Username: <input type="text" name="username">
        <br>
        Password: <input type="text" name="password">
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
    </form>

    <p>Not a member yet? Register now!</p>

{% endblock %}

